body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #dcc7a1;
}

nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #32160f;
  color: #fff;
  padding: 15px 10%;
}

.inicio {
  font-family: "Poppins";
  background-color: #000;
  color: #fff;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.inicio:hover {
  background-color: #fff;
  color: #000;
}

.recomendacao {
  font-family: "Poppins";
  background-color: #c69c48;
  color: #000;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease;
}

.recomendacao:hover {
  background-color: #000;
  color: #fff;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 40px 10%;
  justify-items: center;
}

.cards2 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px 10%;
}

.card {
  background-color: #2c120d;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 240px;
}

.card2 {
  background-color: #2c120d;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 240px;
}

.card-horizontal {
  display: grid;
  grid-template-columns: 180px 250px 1fr;
  background-color: #2c120d;
  padding: 25px;
  border-radius: 15px;
  gap: 20px;
  align-items: center;
}

.nome-e-preco {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.card-horizontal nome-e-comeco {
  grid-column: 2;
  display: flex;
  flex-direction: column;
}

.card-horizontal img {
  grid-column: 1;
  width: 150px;
}

.nome-e-preco h1 {
  margin: 0;
  font-size: 3rem;
  color: #c69c48;
  font-family: "Playfair Display";
}

.nome-e-preco span {
  font-size: 1.4rem;
  color: #dcc7a1;
  font-family: "Poppins";
  font-weight: 600;
}

.card-horizontal p {
  text-align: justify;
  grid-column: 3;
  margin: 0;
  color: #fff;
  line-height: 1.6;
  font-size: 1.2rem;
}

.card h1 {
  margin: 0;
  font-size: 1.8rem;
  color: #c69c48;
  font-family: "Playfair Display";
}

.card .preco {
  font-family: "Poppins";
  display: block;
  margin-top: 5px;
  color: #fff;
  font-size: 1rem;
}

.card-img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #7a5230;
  text-align: center;
  padding: 30px 10%;
  position: relative;
}

.footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

footer img {
  height: 100px;
}

footer .redes_sociais a {
  color: #7a5230;
  text-decoration: none;
  margin: 0 5px;
}

#topo {
  right: 10%;
  bottom: 20px;
  background-color: #000;
  border: none;
  color: #fff;
  padding: 6px 30px;
  height: 40px;
  font-size: 0.85rem;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 1100px) {
  .card-horizontal {
    grid-template-columns: 150px 200px 1fr;
  }
}

@media (max-width: 850px) {
  .card-horizontal {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 25px;
  }

  .card-horizontal img {
    margin: 0 auto;
  }

  .nome-e-preco {
    align-items: center;
    margin-top: 10px;
  }

  .card-horizontal p {
    grid-column: 1;
    margin-top: 15px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .card-horizontal img {
    width: 120px;
  }

  .nome-e-preco h1 {
    font-size: 1.6rem;
  }

  .nome-e-preco span {
    font-size: 1.2rem;
  }

  .card-horizontal p {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  header {
    flex-direction: column;
    gap: 15px;
    padding: 20px 10%;
    text-align: center;
  }

  nav {
    gap: 15px;
  }
}

@media (max-width: 650px) {
  footer {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}
